table {
    background-color: whitesmoke;
    width: 100%;
  }
  table td, table th {
    color: #1a1818c9;
    border: 0.1px solid #ccc;
    text-align: center;
  }
  .container{
    padding-top: 10px;
    margin: 0 10%;
  }
  .mat-toolbar{
    background-color: #203d58;
    color: #ffffff;
  }
  .custom-menu-item:hover{
    background-color: #203d58;
    color: #ffffff;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .logo {
    font-size: 24px;
    margin-right: 8px;
  }
  .name {
    margin-right: 16px;
  }
  h2 {
    color: white;
    background-color: #203d58;
    padding: 8px;
    margin: 0;
  }
  mat-paginator{
    background-color: #203d58;
  }
  table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .icono{
    padding: 5px;
  }
