<!-- --------------NAVBAR-------------- -->
<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu1">Importador GCBA
    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item>Subopción 1</button>
    <button mat-menu-item>Subopción 2</button>
    <button mat-menu-item>Subopción 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu2">Novedades Callejero
    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>Subopción 1</button>
    <button mat-menu-item>Subopción 2</button>
    <button mat-menu-item>Subopción 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu3">Correspondencia GCBA
    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item>Subopción 1</button>
    <button mat-menu-item>Subopción 2</button>
    <button mat-menu-item>Subopción 3</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu4">Consultas
    <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item>Subopción 1</button>
    <button mat-menu-item>Subopción 2</button>
    <button mat-menu-item>Subopción 3</button>
  </mat-menu>
  <span class="spacer"></span>
  <mat-icon class="logo">circle</mat-icon>
  <span class="name">Usuario "X" - I06584732</span>
</mat-toolbar>
<!-- --------------FIN NAVBAR-------------- -->


<div class="container">
  <h2>Título Random</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
        <!-- Position Column -->
        <ng-container matColumnDef="alturaHasta">
          <th mat-header-cell *matHeaderCellDef> alturaHasta </th>
          <td mat-cell *matCellDef="let element"> {{element.alturaHasta}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreOficial">
            <th mat-header-cell *matHeaderCellDef> nombreOficial </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreOficial}} </td>
          </ng-container>

        <ng-container matColumnDef="alturaDesde">
            <th mat-header-cell *matHeaderCellDef> alturaDesde </th>
            <td mat-cell *matCellDef="let element"> {{element.alturaDesde}} </td>
          </ng-container>

          <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
          </ng-container>

          <ng-container matColumnDef="usuarioCambio">
            <th mat-header-cell *matHeaderCellDef> usuarioCambio </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioCambio}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[ 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
</div>


  
  